{% extends 'base.html' %}

{% block body_content %}

<div class="tm-main-content">
    <section class="row tm-margin-b-l">
        <div class="col-12">
            <h2 class="tm-blue-text tm-margin-b-p">Resim Ekleyin</h2>
        </div>
        <div class="col-md-6 col-sm-12 mb-md-0 mb-5 tm-overflow-auto">
            <div class="mr-lg-5">
                <form action="{{ url_for('resim') }}" method="post" class="tm-contact-form" enctype="multipart/form-data">
                    <div class="form-group">
                        <input type="file" name="photo" class="form-control"/>
                    </div>
                    <button type="submit" class="tm-btn tm-btn-blue float-right">Yükle</button>
                </form>
            </div>
        </div>
    </section>
</div>

{% endblock %}